body {
  background: rgba (1, 1, 1, 0.1);
  text-align: left;
  text-shadow: 0 1px 0 rgb(255, 255, 255), 3px 3px 3px rgb(19, 211, 76);
}
.block {
  width: 1000px;
  background: rgb(255, 255, 255);
  font: 1em arial, helvetica;
  margin: auto;
  padding: 15px;
}
img {
  height: 300px;
  padding-right: 32px;
  border-style: none;
  float: right;
}
